//Tipografia
$fuente_principal: 'Montserrat', sans-serif;


//Colores
$cafe: #875554;
$crema: #F7EBE9;
$verde: #00BB2D;
$negro: #000000;
$blanco: #FFFFFF;
$salmon: #E74C3C;
$amarillo: #FEF46D;

//tamaños MQ

$telefono: 480px;
$tablet: 768px;
$destkop: 992px;
$destkopXL: 1200px;
